body {
  margin: 0;
  padding: 0;
}

h1,
h2 {
  text-align: center;
  color: aliceblue;
  line-height: 1.5;
}
.row {
  border-radius: 5%;
  background-color: #25262a;
  text-align: center;
}

.row h1 {
  font-family: cursive;
  font-size: 30px;
}

p {
  text-align: center;
  color: white;
}

.reference-pic {
  position: absolute;
  width: 20%;
}

.box {
  background-color: #d9d9db;
  width: 60%;
  margin: 0 auto;
  padding: 0 15%;
  display: block;
}

.display {
  background-color: #e4e5e9;
  border-radius: 15px 0 15px 15px;
  width: 50%;
  margin: auto;
}

.display h2 {
  font-family: cursive;
  font-size: 5.159958720330238vh;
  color: #25262a;
}

.text {
  color: white;
  text-align: center;
  margin: auto;
  font-size: 10rem;
}
.btn {
  margin: 20px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.btn:hover {
  filter: brightness(150%);
  cursor: url("hand-back-fist-regular.svg"), auto;
}

.red {
  background-color: #25262a;
  border-color: #ff7188;
  box-shadow: 2px 2px 10px #ff7188, 2px 2px 10px #ff7188, 2px 2px 10px #ff7188,
    2px 2px 10px #ff7188;
}

.green {
  background-color: #25262a;
  border-color: #77ffc0;
  box-shadow: 2px 2px 10px #77ffc0, 2px 2px 10px #77ffc0, 2px 2px 10px #77ffc0,
    2px 2px 10px #77ffc0;
}

.blue {
  background-color: #25262a;
  border-color: #d0feff;
  box-shadow: 2px 2px 10px #d0feff, 2px 2px 10px #d0feff, 2px 2px 10px #d0feff,
    2px 2px 10px #d0feff;
}

.pink {
  background-color: #25262a;
  border-color: #feceff;
  box-shadow: 2px 2px 10px #feceff, 2px 2px 10px #feceff, 2px 2px 10px #feceff,
    2px 2px 10px #feceff;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

/* styles for screens with a width of 768px or less */
@media (max-width: 768px) {
  .row {
    border-radius: 0;
  }
  .box {
    width: 100%;
    padding: 0;
  }
  /* more styles for smaller screens */
}

/* styles for screens with a width of 992px or less */
@media (max-width: 992px) {
  /* styles for medium screens */
}

/* styles for screens with a width of 1200px or less */
@media (max-width: 1200px) {
  /* styles for larger screens */
}